.mat-card {
  max-width: 400px;
  padding: 16px;
  margin: 10px;
}

.mat-card-avatar {
  background-color: #2c2c2c;
  background-size: cover;
}

.mat-card-avatar:hover {
  background-color: crimson;
}

.mat-button:hover {
  color: crimson
}
