.mat-card {
  max-width: 400px;
  padding: 16px;
  margin: 10px;
}

.mat-button:hover {
  color: crimson;
}

.mat-card-title {
  margin-left:-17px
}

.mat-card-subtitle {
  margin-left:-17px
}

.disabled {
  color: rgba(0,0,0,.54)
}
