@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.container {
  display: -webkit-flex; /* targets Chrome, Safari */
  display: -ms-flexbox; /* targets IE10 */
  display: flex;
  flex-direcion: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container [class*='col'] {
  padding: 12px;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serf;
  background-color: #fbfbfd;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {}

.mat-card-title {}
.mat-card-content {
  display: flex;
  flex: 1;
}
.mat-card-actions {
  display: flex;
  justify-content: space-between;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.outer-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.outer-div > span {
  font-size: 10px;
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.my-class{
  width: 100px!important;
  min-width: unset!important;
}
