.platforms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-top: 50px;
  /*margin: 10% 0;*/
}

@media only screen and (min-width: 768px) {
  .platforms {
    margin-left: 100px;
    margin-right: 100px;
  }
}
