<div class="container">
  <!-- NODE LIST -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Nodejs</mat-card-title>
        <mat-card-subtitle>Run your automation in Nodejs</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://source.unsplash.com/random/800x600" alt="Photo of ...">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="my-class">Select</button>
        <button mat-button class="my-class" [disabled]="true"><mat-icon>favorite_border</mat-icon> 241234</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- BROWSER DETAILS -->
  <div class="col-50">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
        <mat-card-title>Browser</mat-card-title>
        <mat-card-subtitle>Run your automation in Browser</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://source.unsplash.com/random/800x600" alt="Photo of ..." hight="260" width="260">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="my-class">Select</button>
        <button mat-button class="my-class" [disabled]="true"><mat-icon>favorite_border</mat-icon> 241234</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
