<div class="home">
  <mat-card>
    <mat-card-content>
      <p>
        When you need to build your end-to-end test automation in JavaScript,
        there are multiple options.
      </p>
      <p>
        Your initial choice, the one tied to your instincts and emotions, is
        perfectly valid; however, you should also try to look at your options
        rationally.
      </p>
      <p>Start by comparing them.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="gotoPlatform()">Start</button>
    </mat-card-actions>
  </mat-card>
</div>
